.title {
  display: block;
  width: 120px;
  font-size: 14px;
  padding-bottom: 10px;
}

.input {
  width: 97%;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
}

.btn {
  margin-top: 13px;
  float: right;
}

.closeIcon {
  position: absolute;
  width: 20px;  
  top: 32px;
  right: 30px;
  cursor: pointer;
}

.warning {
  position: absolute;
  width: 200px;
  top: 105px;
  left: 30px;
  color: #FF0000;
  font-size: 12px;
}