@import './_fonts.scss';

$body-background-color: #F2F2F2;
$base-container-background-color: #fff;

* {
  margin: 0;
}

body {
  background-color: $body-background-color;  
  font-family: RobotoRegular;
}

h2 {
  font-family: RobotoBold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
}

header {
  display: block;  
  margin: auto;
  padding-bottom: 30px;
}

main {
  position: relative;
}

.base-container {
  max-width: 1000px;  
  margin: 0 auto;
  background-color: $base-container-background-color;
}

.wrapper {
  max-width: 900px;
  padding: 60px 60px;
  padding-bottom: 0;
  min-height: calc(100vh - 100px);
  margin: auto;
}