.title {
  display: block;
  width: 120px;
  font-size: 14px;
  padding-bottom: 10px;
}

.input {
  width: 390px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
}

.warning {
  display: block;
  height: 10px;
  top: 105px;
  left: 30px;
  color: #FF0000;
  font-size: 12px;
}

.btn {
  margin: 20px;

  div {
    width: 180px;
  }
}