table, td {  
	border: 1px black solid;
}

table {
  margin: auto;
  width: 80%;
	border-collapse: collapse;
}

td {
  padding: 10px;
}

.number {
  width: 100px;
}

.del {
  width: 40px;
  cursor: pointer;
}