.container {
  padding-bottom: 60px;
}

table, td {  
	border: 1px #E6E6E6 solid;
}

table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  flex-direction: column;
}

td {
  padding: 8px;
}

.number {
  font-size: 14px;
  width: 140px;
  padding: 10px 20px;
}

.edit_del {
  width: 80px;
  cursor: pointer;
}

.editIcon { 
  fill: #666666;  
  padding: 0px 25px 0 15px;
  transition: .2s;

  &:hover {
    fill: #39B54A;
  }
}

.deleteIcon {
  fill: #F4583F;
}